<a href="https://colab.research.google.com/github/chitinglow/Classification-Machine-learning/blob/master/Generalization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [6]:
## Spliting data
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=0)
training_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 1649 to 684
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [7]:
eval_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 1318 to 427
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

In [8]:
## Spliting data
training_df, eval_df = train_test_split(df, train_size=0.8, random_state=1)
training_df.head()

     buying maint  doors persons lug_boot safety    car
1579    low   med      4       4      med    med   good
634    high  high  5more       4      med    med    acc
299   vhigh   med  5more       2    small   high  unacc
1085    med   med      2       2      med   high  unacc
1659    low   low      3       4      med    low  unacc

In [9]:
eval_df.head()

     buying maint  doors persons lug_boot safety    car
1233    med   low      3    more    small    low  unacc
592    high  high      3    more      big    med    acc
625    high  high  5more       2      med    med  unacc
1546    low   med      3       2      big    med  unacc
730    high   med  5more       2    small    med  unacc

In [10]:
## Cross validation
from sklearn.model_selection import KFold
_kf = KFold(n_splits=5)
indices = _kf.split(df)
print(type(indices))

<class 'generator'>

In [11]:
train_indices, val_indices = next(indices)
train_df = df.drop(val_indices)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 346 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB

In [12]:
val_df = df.drop(train_indices)
val_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 0 to 345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB

In [13]:
## Five fold cross validation using loop
n_splits = 5
_kf = KFold(n_splits=n_splits)
_indices = _kf.split(df)
_t, _v = [], []


#iterate over _indices
for i in range(n_splits):
    train_idx, val_idx = next(_indices)
    _train_df = df.drop(val_idx)
    _t.append(_train_df)
    _val_df = df.drop(train_idx)
    _v.append(_val_df)

In [14]:
for d in _t:
  print(d.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 346 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1382 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1382 non-null   object
 1   maint     1382 non-null   object
 2   doors     1382 non-null   object
 3   persons   1382 non-null   object
 4   lug_boot  1382 non-null   object
 5   safety    1382 non-null   object
 6   car       1382 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1383 non-null   object
 1   maint     1383 non-null   object
 2   doors     1383 non-null   object
 3   persons   1383 non-null   object
 4   lug_boot  1383 non-null   object
 5   safety    1383 non-null   object
 6   car       1383 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1383 entries, 0 to 1382
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1383 non-null   object
 1   maint     1383 non-null   object
 2   doors     1383 non-null   object
 3   persons   1383 non-null   object
 4   lug_boot  1383 non-null   object
 5   safety    1383 non-null   object
 6   car       1383 non-null   object
dtypes: object(7)
memory usage: 86.4+ KB
None

In [15]:
for d in _v:
  print(d.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 0 to 345
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 346 to 691
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 346 entries, 692 to 1037
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    346 non-null    object
 1   maint     346 non-null    object
 2   doors     346 non-null    object
 3   persons   346 non-null    object
 4   lug_boot  346 non-null    object
 5   safety    346 non-null    object
 6   car       346 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1038 to 1382
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    345 non-null    object
 1   maint     345 non-null    object
 2   doors     345 non-null    object
 3   persons   345 non-null    object
 4   lug_boot  345 non-null    object
 5   safety    345 non-null    object
 6   car       345 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 1383 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    345 non-null    object
 1   maint     345 non-null    object
 2   doors     345 non-null    object
 3   persons   345 non-null    object
 4   lug_boot  345 non-null    object
 5   safety    345 non-null    object
 6   car       345 non-null    object
dtypes: object(7)
memory usage: 21.6+ KB
None

In [16]:
## Cross_val_score
_df = pd.get_dummies(df, columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
_df.head()

     car  buying_high  buying_low  ...  safety_high  safety_low  safety_med
0  unacc            0           0  ...            0           1           0
1  unacc            0           0  ...            0           0           1
2  unacc            0           0  ...            1           0           0
3  unacc            0           0  ...            0           1           0
4  unacc            0           0  ...            0           0           1

[5 rows x 22 columns]

In [26]:
## Feature and labels, train test split
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
_lr = LogisticRegression()
_scores = cross_val_score(_lr, features, labels, cv=5)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
print(_scores)

[0.70231214 0.84971098 0.74566474 0.75652174 0.76231884]

In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split

_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

## Cross_val_score
_df = pd.get_dummies(df, columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
_df.head()

     car  buying_high  buying_low  ...  safety_high  safety_low  safety_med
0  unacc            0           0  ...            0           1           0
1  unacc            0           0  ...            0           0           1
2  unacc            0           0  ...            1           0           0
3  unacc            0           0  ...            0           1           0
4  unacc            0           0  ...            0           0           1

[5 rows x 22 columns]

In [29]:
## Feature and labels, train test split
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

In [30]:
from sklearn.linear_model import LogisticRegressionCV
model = LogisticRegressionCV(max_iter=2000, multi_class='auto', cv=5)

In [31]:
model.fit(features, labels.ravel())

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=2000, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [32]:
print(model.score(features, labels.ravel()))

0.9456018518518519

In [33]:
## Hyperparameter tuning with gridsearchCV
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

## Cross_val_score
_df = pd.get_dummies(df, columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

In [34]:
clf = DecisionTreeClassifier()
params = {'max_depth':np.arange(1,8)}
clf_cv = GridSearchCV(clf, param_grid=params, cv=5)

In [35]:
clf_cv.fit(features, labels)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [38]:
print("Tuned Decision Tree Parameters: {}".format(clf_cv.best_params_))

Tuned Decision Tree Parameters: {'max_depth': 2}

In [39]:
print(clf_cv.best_score_)

0.7778822149618833

In [41]:
#Best model
model = clf_cv.best_estimator_
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [42]:
## Randomized search
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.ensemble import RandomForestClassifier 
from sklearn.model_selection import RandomizedSearchCV

_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)

## Cross_val_score
_df = pd.get_dummies(df, columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

In [44]:
clf = RandomForestClassifier()
params = {'n_estimators' : [500, 1000, 2000], 'max_depth': np.arange(1,8)}
clf_cv = RandomizedSearchCV(clf, param_distributions=params, cv=5)
clf_cv.fit(features, labels.ravel())
print(clf_cv.best_params_)

{'n_estimators': 2000, 'max_depth': 5}

In [45]:
model = clf_cv.best_estimator_
model

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=2000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [46]:
## Model regularization with lasso regression
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
_df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/ccpp.csv')
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [47]:
X = _df.drop(['PE'], axis=1).values

In [48]:
y = _df['PE'].values

In [49]:

train_X, eval_X, train_y, eval_y = train_test_split(X, y, train_size=0.8, random_state=0)

In [50]:
## Implement regression model
lr_model_1 = LinearRegression()
lr_model_1.fit(train_X, train_y)
lr_model_1_preds = lr_model_1.predict(eval_X)

In [51]:
print('lr_model_1 R2 Score: {}'.format(lr_model_1.score(eval_X, eval_y)))

lr_model_1 R2 Score: 0.9325315554761302

In [52]:

print('lr_model_1 MSE: {}'.format(mean_squared_error(eval_y, lr_model_1_preds)))

lr_model_1 MSE: 19.733699303497648

In [53]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3)),
    ('lr', LinearRegression())
]

In [54]:
lr_model_2 = Pipeline(steps)

In [55]:
lr_model_2.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [56]:
print('lr_model_2 R2 Score: {}'.format(lr_model_2.score(eval_X, eval_y)))

lr_model_2 R2 Score: 0.9443678654045208

In [59]:
lr_model_2_preds = lr_model_2.predict(eval_X)

In [60]:
print('lr_model_2 MSE: {}'.format(mean_squared_error(eval_y, lr_model_2_preds)))

lr_model_2 MSE: 16.27172263220767

In [61]:

print(lr_model_2[-1].coef_)

[ 7.72661789e-14 -1.77278028e+02 -4.60337188e+01 -1.60520675e+02
 -1.23076123e+02  6.23358210e+00  8.19655844e+00  1.45478576e+02
  1.88658651e+02  2.43740192e+01  1.80553150e+02 -1.08058561e+02
  1.09713294e+02  1.79121906e+02  1.06460596e+02  2.67290613e+01
  7.79833654e+01  3.69241324e+01 -1.13863997e+02 -1.42673215e+02
 -9.69606773e+01  1.90706809e+02 -5.56429546e+01 -1.32595225e+02
 -9.41682917e+01  9.40112729e+01 -1.18732510e+02 -7.64871610e+01
 -4.18714081e+01  6.36772260e+01  4.42340977e+01 -3.81114691e+01
 -4.71547759e+01 -9.16797074e+01 -2.52346805e+01]

In [62]:
print(len(lr_model_2[-1].coef_))

35

In [63]:

steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', LinearRegression())
]

In [65]:
lr_model_3 = Pipeline(steps)
lr_model_3.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [66]:
print('lr_model_3 R2 Score: {}'.format(lr_model_3.score(eval_X, eval_y)))
lr_model_3_preds = lr_model_3.predict(eval_X)
print('lr_model_3 MSE: {}'.format(mean_squared_error(eval_y, lr_model_3_preds)))
print(len(lr_model_3[-1].coef_))

lr_model_3 R2 Score: 0.5683459510528555
lr_model_3 MSE: 126.25355846237964
1001

In [67]:
print(lr_model_3[-1].coef_[:35])

[ 3.92417572e+05 -6.90884957e+07 -4.12728037e+07  2.27928559e+07
 -4.76788092e+07  2.96663457e+08  2.73267484e+08  1.07844757e+08
  3.73718995e+08  8.79698968e+07 -2.35367959e+07  2.46251982e+08
 -2.61104947e+08  1.86087661e+07  1.41131196e+08 -6.53886924e+08
 -8.90633353e+08 -1.06074814e+09 -1.29264510e+09 -4.28435046e+08
  5.31626843e+07 -1.30408977e+09  4.41024830e+08 -8.86228713e+08
 -8.78160515e+08 -1.97377311e+06 -5.39375259e+08 -3.68352714e+08
  9.82113559e+08 -2.76718687e+08 -6.28824872e+08  8.14257203e+08
  5.43205856e+08 -2.03045074e+08 -2.42929048e+08]

In [68]:

steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', Lasso(alpha=0.01))
]

In [70]:
lasso_model = Pipeline(steps)
lasso_model.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 Lasso(alpha=0.01, copy_X=True, fit_intercept=True,
                       max_iter=1000, normalize=False, positive=False,
                       precompute=False, random_state=None, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [71]:
print('lasso_model R2 Score: {}'.format(lasso_model.score(eval_X, eval_y)))
lasso_preds = lasso_model.predict(eval_X)
print('lasso_model MSE: {}'.format(mean_squared_error(eval_y, lasso_preds)))

lasso_model R2 Score: 0.9418109161488483
lasso_model MSE: 17.019599185488644

In [72]:
print(len(lasso_model[-1].coef_))

1001

In [74]:
print(lasso_model[-1].coef_[:35])

[  0.         -69.23283545 -12.97913161   5.59999369  -0.
   0.          -0.           0.          -0.71670158  -0.53479946
   0.          -1.25577296   0.          -0.          -0.
   0.           0.           0.          -0.           0.
   0.          -0.           0.          -0.          -9.10662876
  -0.           0.          -0.           0.          -0.
  -3.04193695  -0.          -0.          -0.          -0.        ]

In [75]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures


_df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/ccpp.csv')
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

In [76]:
X = _df.drop(['PE'], axis=1).values
y = _df['PE'].values

In [78]:
train_X, eval_X, train_y, eval_y = train_test_split(X, y, train_size=0.8, random_state=0)

In [79]:
lr_model_1 = LinearRegression()
lr_model_1.fit(train_X, train_y)
lr_model_1_preds = lr_model_1.predict(eval_X)
print('lr_model_1 R2 Score: {}'.format(lr_model_1.score(eval_X, eval_y)))
print('lr_model_1 MSE: {}'.format(mean_squared_error(eval_y, lr_model_1_preds)))

lr_model_1 R2 Score: 0.9325315554761302
lr_model_1 MSE: 19.733699303497648

In [80]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3)),
    ('lr', LinearRegression())
]

In [81]:
lr_model_2 = Pipeline(steps)
lr_model_2.fit(train_X, train_y)
print('lr_model_2 R2 Score: {}'.format(lr_model_2.score(eval_X, eval_y)))

lr_model_2_preds = lr_model_2.predict(eval_X)
print('lr_model_2 MSE: {}'.format(mean_squared_error(eval_y, lr_model_2_preds)))

lr_model_2 R2 Score: 0.9443678654045208
lr_model_2 MSE: 16.27172263220767

In [82]:
print(lr_model_2[-1].coef_)
print(len(lr_model_2[-1].coef_))

[ 7.72661789e-14 -1.77278028e+02 -4.60337188e+01 -1.60520675e+02
 -1.23076123e+02  6.23358210e+00  8.19655844e+00  1.45478576e+02
  1.88658651e+02  2.43740192e+01  1.80553150e+02 -1.08058561e+02
  1.09713294e+02  1.79121906e+02  1.06460596e+02  2.67290613e+01
  7.79833654e+01  3.69241324e+01 -1.13863997e+02 -1.42673215e+02
 -9.69606773e+01  1.90706809e+02 -5.56429546e+01 -1.32595225e+02
 -9.41682917e+01  9.40112729e+01 -1.18732510e+02 -7.64871610e+01
 -4.18714081e+01  6.36772260e+01  4.42340977e+01 -3.81114691e+01
 -4.71547759e+01 -9.16797074e+01 -2.52346805e+01]
35

In [83]:

steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', LinearRegression())
]

In [85]:

lr_model_3 = Pipeline(steps)
lr_model_3.fit(train_X, train_y)
print('lr_model_3 R2 Score: {}'.format(lr_model_3.score(eval_X, eval_y)))

lr_model_3 R2 Score: 0.5683459510528555

In [86]:
lr_model_3_preds = lr_model_3.predict(eval_X)

In [87]:
print('lr_model_3 MSE: {}'.format(mean_squared_error(eval_y, lr_model_3_preds)))

lr_model_3 MSE: 126.25355846237964

In [88]:
print(len(lr_model_3[-1].coef_))

1001

In [89]:
print(lr_model_3[-1].coef_[:35])

[ 3.92417572e+05 -6.90884957e+07 -4.12728037e+07  2.27928559e+07
 -4.76788092e+07  2.96663457e+08  2.73267484e+08  1.07844757e+08
  3.73718995e+08  8.79698968e+07 -2.35367959e+07  2.46251982e+08
 -2.61104947e+08  1.86087661e+07  1.41131196e+08 -6.53886924e+08
 -8.90633353e+08 -1.06074814e+09 -1.29264510e+09 -4.28435046e+08
  5.31626843e+07 -1.30408977e+09  4.41024830e+08 -8.86228713e+08
 -8.78160515e+08 -1.97377311e+06 -5.39375259e+08 -3.68352714e+08
  9.82113559e+08 -2.76718687e+08 -6.28824872e+08  8.14257203e+08
  5.43205856e+08 -2.03045074e+08 -2.42929048e+08]

In [90]:

steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=10)),
    ('lr', Ridge(alpha=0.9))
]

In [91]:
ridge_model = Pipeline(steps)

In [92]:
ridge_model.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=10, include_bias=True,
                                    interaction_only=False, order='C')),
                ('lr',
                 Ridge(alpha=0.9, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=None,
                       solver='auto', tol=0.001))],
         verbose=False)

In [93]:
print('ridge_model R2 Score: {}'.format(ridge_model.score(eval_X, eval_y)))

ridge_model R2 Score: 0.9451949082623449

In [94]:
ridge_model_preds = ridge_model.predict(eval_X)

In [95]:
print('ridge_model MSE: {}'.format(mean_squared_error(eval_y, ridge_model_preds)))

ridge_model MSE: 16.029822656854993

In [96]:
print(len(ridge_model[-1].coef_))

1001

In [97]:
print(ridge_model[-1].coef_[:35])

[  0.         -39.79803902  -7.77413135   6.07694837   3.10326786
 -18.17945028  -9.45440071  -7.4037462  -16.97192766  -9.10799691
   6.96959155  -1.55574911   4.49242992   0.31127893   5.27565009
  -4.07568831  -0.95958324   2.38995687  -6.1583696   -2.05510604
   2.3741985   -1.30281151  -1.7837005   -4.53024264  -8.30749466
  -3.42801698   0.65288784  -2.74767783   5.47711767   4.68241474
  -2.1214614   -0.47331885   0.43221968  -0.28909998   4.64549348]

In [98]:
## Import libraries
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
_df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/superconduct/train.csv')
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21263 entries, 0 to 21262
Data columns (total 82 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   number_of_elements               21263 non-null  int64
 1   mean_atomic_mass                 21263 non-null  float64
 2   wtd_mean_atomic_mass             21263 non-null  float64
 3   gmean_atomic_mass                21263 non-null  float64
 4   wtd_gmean_atomic_mass            21263 non-null  float64
 5   entropy_atomic_mass              21263 non-null  float64
 6   wtd_entropy_atomic_mass          21263 non-null  float64
 7   range_atomic_mass                21263 non-null  float64
 8   wtd_range_atomic_mass            21263 non-null  float64
 9   std_atomic_mass                  21263 non-null  float64
 10  wtd_std_atomic_mass              21263 non-null  float64
 11  mean_fie                         21263 non-null  float64
 12  wtd_mean_fie                     21263 non-null  float64
 13  gmean_fie                        21263 non-null  float64
 14  wtd_gmean_fie                    21263 non-null  float64
 15  entropy_fie                      21263 non-null  float64
 16  wtd_entropy_fie                  21263 non-null  float64
 17  range_fie                        21263 non-null  float64
 18  wtd_range_fie                    21263 non-null  float64
 19  std_fie                          21263 non-null  float64
 20  wtd_std_fie                      21263 non-null  float64
 21  mean_atomic_radius               21263 non-null  float64
 22  wtd_mean_atomic_radius           21263 non-null  float64
 23  gmean_atomic_radius              21263 non-null  float64
 24  wtd_gmean_atomic_radius          21263 non-null  float64
 25  entropy_atomic_radius            21263 non-null  float64
 26  wtd_entropy_atomic_radius        21263 non-null  float64
 27  range_atomic_radius              21263 non-null  int64
 28  wtd_range_atomic_radius          21263 non-null  float64
 29  std_atomic_radius                21263 non-null  float64
 30  wtd_std_atomic_radius            21263 non-null  float64
 31  mean_Density                     21263 non-null  float64
 32  wtd_mean_Density                 21263 non-null  float64
 33  gmean_Density                    21263 non-null  float64
 34  wtd_gmean_Density                21263 non-null  float64
 35  entropy_Density                  21263 non-null  float64
 36  wtd_entropy_Density              21263 non-null  float64
 37  range_Density                    21263 non-null  float64
 38  wtd_range_Density                21263 non-null  float64
 39  std_Density                      21263 non-null  float64
 40  wtd_std_Density                  21263 non-null  float64
 41  mean_ElectronAffinity            21263 non-null  float64
 42  wtd_mean_ElectronAffinity        21263 non-null  float64
 43  gmean_ElectronAffinity           21263 non-null  float64
 44  wtd_gmean_ElectronAffinity       21263 non-null  float64
 45  entropy_ElectronAffinity         21263 non-null  float64
 46  wtd_entropy_ElectronAffinity     21263 non-null  float64
 47  range_ElectronAffinity           21263 non-null  float64
 48  wtd_range_ElectronAffinity       21263 non-null  float64
 49  std_ElectronAffinity             21263 non-null  float64
 50  wtd_std_ElectronAffinity         21263 non-null  float64
 51  mean_FusionHeat                  21263 non-null  float64
 52  wtd_mean_FusionHeat              21263 non-null  float64
 53  gmean_FusionHeat                 21263 non-null  float64
 54  wtd_gmean_FusionHeat             21263 non-null  float64
 55  entropy_FusionHeat               21263 non-null  float64
 56  wtd_entropy_FusionHeat           21263 non-null  float64
 57  range_FusionHeat                 21263 non-null  float64
 58  wtd_range_FusionHeat             21263 non-null  float64
 59  std_FusionHeat                   21263 non-null  float64
 60  wtd_std_FusionHeat               21263 non-null  float64
 61  mean_ThermalConductivity         21263 non-null  float64
 62  wtd_mean_ThermalConductivity     21263 non-null  float64
 63  gmean_ThermalConductivity        21263 non-null  float64
 64  wtd_gmean_ThermalConductivity    21263 non-null  float64
 65  entropy_ThermalConductivity      21263 non-null  float64
 66  wtd_entropy_ThermalConductivity  21263 non-null  float64
 67  range_ThermalConductivity        21263 non-null  float64
 68  wtd_range_ThermalConductivity    21263 non-null  float64
 69  std_ThermalConductivity          21263 non-null  float64
 70  wtd_std_ThermalConductivity      21263 non-null  float64
 71  mean_Valence                     21263 non-null  float64
 72  wtd_mean_Valence                 21263 non-null  float64
 73  gmean_Valence                    21263 non-null  float64
 74  wtd_gmean_Valence                21263 non-null  float64
 75  entropy_Valence                  21263 non-null  float64
 76  wtd_entropy_Valence              21263 non-null  float64
 77  range_Valence                    21263 non-null  int64
 78  wtd_range_Valence                21263 non-null  float64
 79  std_Valence                      21263 non-null  float64
 80  wtd_std_Valence                  21263 non-null  float64
 81  critical_temp                    21263 non-null  float64
dtypes: float64(79), int64(3)
memory usage: 13.3 MB

In [99]:
_df.head()

   number_of_elements  mean_atomic_mass  ...  wtd_std_Valence  critical_temp
0                   4         88.944468  ...         0.437059           29.0
1                   5         92.729214  ...         0.468606           26.0
2                   4         88.944468  ...         0.444697           19.0
3                   4         88.944468  ...         0.440952           22.0
4                   4         88.944468  ...         0.428809           23.0

[5 rows x 82 columns]

In [100]:
X = _df.drop(['critical_temp'], axis=1).values
y = _df['critical_temp'].values
train_X, eval_X, train_y, eval_y = train_test_split(X, y, test_size=0.8, random_state=0)

In [105]:
model_1 = LinearRegression()
model_1.fit(train_X, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [106]:
pred = model_1.predict(eval_X)
print('Model 1 R2 Score: {}'.format(model_1.score(eval_X, eval_y)))

Model 1 R2 Score: 0.7328447712730801

In [107]:
print(model_1.coef_)

[-4.94346491e+00  8.70902756e-01 -9.98866501e-01 -5.83760774e-01
  7.93953012e-01 -2.56095021e+01 -5.50632648e+00  1.27121023e-01
 -3.64947050e-02 -2.33513663e-01 -3.17000184e-02  3.10498264e-01
 -2.70341636e-01 -3.27264900e-01  3.01282843e-01 -8.31664513e+01
  4.76913648e+01  8.40711399e-02  2.07050106e-02 -2.97568138e-01
  3.97698378e-02 -1.06142981e+00  3.61994102e+00  6.70321650e-01
 -3.22006412e+00  4.02729358e+01  4.97586647e+01  1.91181858e-01
 -8.63617280e-02 -1.01111516e-01 -6.03489660e-01 -5.08255800e-03
  1.01228657e-03  2.34243690e-03  6.57781429e-04  1.24587526e+01
 -1.10269822e+01 -1.30154742e-03  5.73536446e-04  4.95127593e-03
 -9.30322207e-04  5.82173815e-02  4.77320536e-01  5.07267163e-02
 -5.53776412e-01  5.02250052e+00 -1.96605153e+01 -3.58831794e-01
 -1.02331087e-01  1.14617678e+00 -5.43201942e-01  1.66517118e+00
 -1.86511975e+00 -1.18487297e+00  1.27906539e+00 -2.20915415e+01
  2.34252719e+01 -4.11107209e-01  7.35352108e-01 -5.28505687e-01
  7.74281630e-01 -1.78504148e-01  5.87315418e-01  4.71295603e-02
 -4.18163312e-01  7.81304600e+00  6.87307727e+00 -2.97522968e-02
 -2.06281413e-01  2.10538634e-01 -3.98675109e-02 -5.52756012e+00
  8.24378449e+00  7.98555157e+00 -1.16791127e+01  8.10069280e+01
 -8.54657430e+01  4.87898207e+00 -2.42910779e+00  3.46557465e+00
 -2.07905810e+01]

In [108]:
preds_1 = model_1.predict(eval_X)
print('Model 1 MSE: {}'.format(mean_squared_error(eval_y, preds_1)))

Model 1 MSE: 314.1265890121909

In [109]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3, interaction_only=True)),
    ('model', LinearRegression())
]
model_2 = Pipeline(steps)
model_2.fit(train_X, train_y)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=True, order='C')),
                ('model',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [110]:
print('Model 2 R2 Score: {}'.format(model_2.score(eval_X, eval_y)))

Model 2 R2 Score: -3.3859827225630776e+18

In [111]:
print('Number of coefficients: {}'.format(len(model_2[-1].coef_)))

Number of coefficients: 88642

In [112]:
steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3, interaction_only=True)),
    ('model', Lasso(alpha=0.001, max_iter=2000))
]
lasso_model = Pipeline(steps)

lasso_model.fit(train_X, train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 192283.14614944346, tolerance: 494.61267754025044
  positive)

Pipeline(memory=None,
         steps=[('scaler', MinMaxScaler(copy=True, feature_range=(0, 1))),
                ('poly',
                 PolynomialFeatures(degree=3, include_bias=True,
                                    interaction_only=True, order='C')),
                ('model',
                 Lasso(alpha=0.001, copy_X=True, fit_intercept=True,
                       max_iter=2000, normalize=False, positive=False,
                       precompute=False, random_state=None, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [113]:
print('Lasso Model R2 Score: {}'.format(lasso_model.score(eval_X, eval_y)))
print(lasso_model[-1].coef_[:30])

Lasso Model R2 Score: 0.8325230040978592
[ 0.00000000e+00  8.74340500e-02 -7.95095837e+00 -1.30139088e-01
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  3.38565726e+01
  0.00000000e+00 -0.00000000e+00 -4.13763260e+00 -2.65279487e-02
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  1.22329305e+01  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -1.12633645e+01  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -9.08364155e+00]

In [114]:

steps = [
    ('scaler', MinMaxScaler()),
    ('poly', PolynomialFeatures(degree=3, interaction_only=True)),
    ('model', Ridge(alpha=0.9))
]

ridge_model = Pipeline(steps)

ridge_model.fit(train_X, train_y)

print('Ridge Model R2 score: {}'.format(ridge_model.score(eval_X, eval_y)))
print(ridge_model[-1].coef_[:30])

Ridge Model R2 score: 0.8322365420648941
[ 0.         -0.42062418 -3.87358249 -4.24082447 -2.87059487 -1.42389767
 -1.74429581  4.28948862 -1.18107119 -1.92438245 -1.03653114 -0.28070952
  0.49678614 -2.44639462  1.5030846  -0.84415353 -0.68920212  4.01266927
  0.15348104 -1.39519727 -1.52030442 -4.20145985 -1.51392581  2.9521117
 -1.71399758  2.19445947 -1.57055309  2.43472526  0.55081481 -3.93851654]