<a href="https://colab.research.google.com/github/chitinglow/Classification-Machine-learning/blob/master/MultiClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Training a random forest classifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
file_url = "https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/activity.csv"
df = pd.read_csv(file_url)
df.head()

   avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  var_rss23  Activity
0      42.00       0.00      18.50       0.50      12.00       0.00  bending1
1      42.00       0.00      18.00       0.00      11.33       0.94  bending1
2      42.75       0.43      16.75       1.79      18.25       0.43  bending1
3      42.50       0.50      16.75       0.83      19.00       1.22  bending1
4      43.00       0.82      16.25       0.83      18.00       0.00  bending1

In [ ]:
## Data preprocessing and split train test data
target = df.pop('Activity')
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.33, random_state=42)

In [ ]:
## Random forest model
rf_model = RandomForestClassifier(random_state=1)

## Fit the data
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

In [ ]:
## Prediction
preds = rf_model.predict(X_train)
preds

array(['lying', 'bending1', 'cycling', ..., 'cycling', 'bending1',
       'standing'], dtype=object)

In [ ]:
test_preds = rf_model.predict(X_test)
test_preds

array(['lying', 'lying', 'lying', ..., 'walking', 'standing', 'cycling'],
      dtype=object)

In [ ]:
## Evaluating performance
accuracy_score(y_train, preds)

0.9972120952176711

In [ ]:
## Evaluating prediction performance
accuracy_score(y_test, test_preds)

0.7916696901531094

In [ ]:
## Model for animal types and evaluating performance
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.head()

     animal   hair  feathers   eggs  ...   tail  domestic  catsize    type
0  aardvark   True     False  False  ...  False     False     True  mammal
1  antelope   True     False  False  ...   True     False     True  mammal
2      bass  False     False   True  ...   True     False    False    fish
3      bear   True     False  False  ...  False     False     True  mammal
4      boar   True     False  False  ...   True     False     True  mammal

[5 rows x 18 columns]

In [ ]:
# Drop columns and set target
df.drop(columns='animal', inplace=True)
y = df.pop('type')

In [ ]:
df.head()

    hair  feathers   eggs   milk  ...  legs   tail  domestic  catsize
0   True     False  False   True  ...     4  False     False     True
1   True     False  False   True  ...     4   True     False     True
2  False     False   True  False  ...     0   True     False    False
3   True     False  False   True  ...     4  False     False     True
4   True     False  False   True  ...     4   True     False     True

[5 rows x 16 columns]

In [ ]:
## Train test split and evaluating performance
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = 0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
train_preds = rf_model.predict(X_train)
train_preds

array(['mammal', 'mammal', 'mammal', 'fish', 'mammal', 'insect', 'fish',
       'bird', 'mammal', 'mammal', 'fish', 'bird', 'reptile', 'bird',
       'fish', 'mammal', 'mammal', 'bird', 'bird', 'mammal', 'bird',
       'bird', 'mammal', 'invertebrate', 'reptile', 'invertebrate',
       'fish', 'bird', 'mammal', 'mammal', 'amphibian', 'mammal',
       'invertebrate', 'mammal', 'mammal', 'insect', 'mammal', 'fish',
       'invertebrate', 'mammal', 'invertebrate', 'invertebrate', 'insect',
       'amphibian', 'mammal', 'reptile', 'amphibian', 'invertebrate',
       'mammal', 'fish', 'bird', 'mammal', 'mammal', 'bird', 'mammal',
       'mammal', 'fish', 'mammal', 'bird', 'fish'], dtype=object)

In [ ]:
train_acc = accuracy_score(y_train, train_preds)
print(train_acc)

1.0

In [ ]:
## Test set performance
test_preds = rf_model.predict(X_test)
test_acc= accuracy_score(y_test, test_preds)
print(test_acc)

0.9024390243902439

In [ ]:
## N trees estimator
rf_model2 = RandomForestClassifier(random_state=1, n_estimators=2)
rf_model2.fit(X_train, y_train)

preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model.predict(X_test)
print(accuracy_score(y_train, preds2))
print(accuracy_score(y_test,test_preds2))

0.95
0.9024390243902439

In [ ]:
rf_model3 = RandomForestClassifier(random_state=1, n_estimators=50)
rf_model3.fit(X_train, y_train)

preds3 = rf_model3.predict(X_train)
test_preds3 = rf_model.predict(X_test)
print(accuracy_score(y_train, preds3))
print(accuracy_score(y_test,test_preds3))

1.0
0.9024390243902439

In [ ]:
## Tuning 

file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.drop(columns='animal', inplace=True)
y = df.pop('type')

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=42, n_estimators=1)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

In [ ]:
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)

In [ ]:

print(train_acc)
print(test_acc)

0.9166666666666666
0.8048780487804879

In [ ]:
rf_model2 = RandomForestClassifier(random_state=42, n_estimators=30)
rf_model2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

In [ ]:
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)

In [ ]:
print(train_acc2)
print(test_acc2)

1.0
0.9024390243902439

In [ ]:
## Maximum depth tuning
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.drop(columns='animal', inplace=True)
y = df.pop('type')

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=42, n_estimators=30, max_depth=5)
rf_model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
train_preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)

In [ ]:
train_acc = accuracy_score(y_train, train_preds)
test_acc = accuracy_score(y_test, test_preds)

In [ ]:
print(train_acc)
print(test_acc)

1.0
0.9024390243902439

In [ ]:
rf_model2 = RandomForestClassifier(random_state=42, n_estimators=30, max_depth=2)
rf_model2.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=2, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=30,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [ ]:
train_preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)

In [ ]:
train_acc2 = accuracy_score(y_train, train_preds2)
test_acc2 = accuracy_score(y_test, test_preds2)

In [ ]:
print(train_acc2)
print(test_acc2)

0.9
0.8292682926829268

In [ ]:
## Maximum depth tuning
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.drop(columns='animal', inplace=True)
y = df.pop('type')

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=1, n_estimators=30, max_depth=2, min_samples_leaf=3)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)
print(accuracy_score(y_train, preds))
print(accuracy_score(y_test, test_preds))

0.8833333333333333
0.8292682926829268

In [ ]:
rf_model2 = RandomForestClassifier(random_state=1, n_estimators=30, max_depth=2, min_samples_leaf=7)
rf_model2.fit(X_train, y_train)
preds = rf_model2.predict(X_train)
test_preds = rf_model2.predict(X_test)
print(accuracy_score(y_train, preds))
print(accuracy_score(y_test, test_preds))

0.8
0.8048780487804879

In [ ]:
## Maximum feature
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/openml_phpZNNasq.csv'
df = pd.read_csv(file_url)
df.drop(columns='animal', inplace=True)
y = df.pop('type')

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=1, n_estimators=30, max_depth=2, min_samples_leaf=7, max_features=10)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)
print(accuracy_score(y_train, preds))
print(accuracy_score(y_test, test_preds))

0.8166666666666667
0.7804878048780488

In [ ]:
rf_model2 = RandomForestClassifier(random_state=1, n_estimators=30, max_depth=2, min_samples_leaf=7, max_features=0.2)
rf_model2.fit(X_train, y_train)
preds = rf_model2.predict(X_train)
test_preds = rf_model2.predict(X_test)
print(accuracy_score(y_train, preds))
print(accuracy_score(y_test, test_preds))

0.8
0.8048780487804879

In [ ]:
## Train random forest on ISOLET Dataset
## Training a random forest classifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter04/Dataset/phpB0xrNj.csv'
df = pd.read_csv(file_url)
df.head()

       f1      f2      f3      f4  ...    f615    f616    f617  class
0 -0.4394 -0.0930  0.1718  0.4620  ...  0.6410  0.5898 -0.4872    '1'
1 -0.4348 -0.1198  0.2474  0.4036  ...  0.4318  0.4546 -0.0910    '1'
2 -0.2330  0.2124  0.5014  0.5222  ...  0.2540  0.1588 -0.4762    '2'
3 -0.3808 -0.0096  0.2602  0.2554  ... -0.0072  0.0936 -0.1510    '2'
4 -0.3412  0.0946  0.6082  0.6216  ...  0.3124  0.2188 -0.2500    '3'

[5 rows x 618 columns]

In [ ]:
y = df.pop('class')
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.4, random_state=188)
rf_model = RandomForestClassifier(random_state=1, n_estimators=20, max_depth=5, min_samples_leaf=10, max_features=0.5)
rf_model.fit(X_train, y_train)
preds = rf_model.predict(X_train)
test_preds = rf_model.predict(X_test)
print(accuracy_score(y_train, preds))
print(accuracy_score(y_test, test_preds))

0.7522445489525438
0.7021481243988458

In [ ]:
rf_model2 = RandomForestClassifier(random_state=1, n_estimators=50, max_depth=10, min_samples_leaf=50, max_features=0.3)
rf_model2.fit(X_train, y_train)
preds2 = rf_model2.predict(X_train)
test_preds2 = rf_model2.predict(X_test)
print(accuracy_score(y_train, preds2))
print(accuracy_score(y_test, test_preds2))

0.8965369816160752
0.8544405258095543